/* Nav de header y footer */
nav
{
    background-color: rgba(95, 21, 145, 0.979);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

/* Logo header */
#logo
{
    height: 150px;
    width: 150px;
}

/* Eliminar subrayado de elementos */
ul
{
    list-style-type: none;
}

body
{
    background-image: url(/img/asd123.png);
    background-size: cover;
    background-attachment: fixed;
}

/* Estilo de items del nav */
a
{
    text-decoration: none;
    color: black;
    border: 1px solid white;
    padding: 5px;
    background-color: rgba(240, 180, 150, 0.8);
    border-radius: 5px;
}

li
{
    padding: 10px;
}

/* Alineacion de los items del header */
#ul-header
{
    display: flex;
    flex-direction: row;
}

/* Alineacion de los items del footer */
#ul-footer
{
    display: flex;
    flex-direction: row;
}

.label_formulario
{
    color: white;
    font-family: 'Nosifer';
}

@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
#titulo 
{
    text-align: center;
    font-family: 'Nosifer';
}

legend
{
    background-color: rgba(95, 21, 145, 0.979);
    border: 1px solid white;
    font-size: large;
}

#fieldset-titulo
{
    font-family: 'Nosifer';
}


/* Color fondo Formulario ABM*/
.field-formulario
{
    background-color: rgba(95, 21, 145, 0.979);
}

/* Tamaño iconos */
.icono
{
    height: 50px;
    width: 50px;
}

/* Color fondo inputs */
.input, select
{
    background-color: rgba(95, 21, 145, 0.979);
}

form>div
{
    padding: 15px;
    text-align: center;
}

fieldset
{
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 10px;
}

#conteiner-iconos
{
    display: flex;
    justify-content: center;
}

div
{
    padding: 10px;
}

/* Container Botones*/
#botones-container
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.boton
{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    background-color: rgba(95, 21, 145, 0.979);
}

#btnGuardar
{
    background-color: rgba(95, 21, 145, 0.979);
}

button:disabled
{
    background-color: grey;
}

/* TABLA */
table{
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td{
    border: 1px solid black;
    padding: 5px 10px;
}

th{
    text-transform: capitalize;
}

td{
    text-align: center;
}

/* Color background filas Pares e Impares */
.rowPar
{
    background-color: #b7b6b6;
}

.rowImpar
{
    background-color: rgba(129, 38, 190, 0.979);
}

/* Color cabecera */
.cabecera
{
    background-color: rgba(95, 21, 145, 0.979);
}

@keyframes rotarRapido {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Tamaño imagen spinner */
#spinner-girando
{
    height: 200px;
    width: 200px;
    animation: rotarRapido 0.9s infinite linear; /* Ajusta la duración para una rotación más rápida */

}

#spinner
{
    display: flex;
    justify-content: center;
}

/* Color borde validacion */
.errorValidacion
{
    border: 2px solid red;
}

/* Color mensaje validacion */
small
{
    color: red;
    display: flex;
    justify-content: center;
}

footer
{
    margin-top: 20px;
}

/* Screen Ajustable */
@media screen and (max-width: 800px) {
    #ul-header, #ul-footer
    {
        display: flex;
        flex-direction: column;
    }
}